<section class="text-center p-5 m-5">
    <h1>CONATCT SECTION</h1>
    <div class="d-flex centere">
        <h5 class="line"></h5>
        <span class="sass"><i _ngcontent-dpy-c6="" class="fa-solid fa-star mx-3"></i></span>
        <h5 class="line "></h5>

    </div>
        <div class="container">
            <div class="row">

                <div class="col-md-4 g-5">
                    <div  class="parent position-relative">
                        <img src="./assets/imges/poert1.png" width="100%" alt="">
                        <div (click)=" imgPath(block) " class=" layer">
                            <i class="fa-solid fa-plus fa-6x"></i>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-4 g-5">
                    <div class="parent position-relative">
                        <img src="./assets/imges/port2.png" width="100%" alt="">
                        <div (click)=" imgPath(block1) " class=" layer">
                            <i class="fa-solid fa-plus fa-6x"></i>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-4 g-5">
                    <div class="parent position-relative">
                        <img src="./assets/imges/port3.png" width="100%" alt="">
                        <div (click)=" imgPath(block2) " class=" layer">
                            <i class="fa-solid fa-plus fa-6x"></i>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-4 g-5">
                    <div class="parent position-relative">
                        <img src="../assets/imges/poert1.png" width="100%" alt="">
                        <div (click)=" imgPath(block) " class=" layer">
                            <i class="fa-solid fa-plus fa-6x"></i>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-4 g-5">
                    <div class="parent position-relative">
                        <img src="../../assets/imges/port2.png" width="100%" alt="">
                        <div (click)=" imgPath(block1) " class=" layer">
                            <i class="fa-solid fa-plus fa-6x"></i>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-4 g-5">
                    <div class="parent position-relative">
                        <img src="../../assets/imges/port3.png" width="100%" alt="">
                        <div (click)=" imgPath(block2) " class=" layer">
                            <i class="fa-solid fa-plus fa-6x"></i>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
</section>

<div (click)=" close(block) " #block class="light-container d-none" >
    <div class="light-box d-flex justify-content-center align-items-center mt-5">
        <img src="./assets/imges/poert1.png" class="w-50" alt="">
    </div>
</div>

<div (click)=" close(block1) " #block1 class="light-container d-none" >
    <div class="light-box d-flex justify-content-center align-items-center mt-5">
        <img src="./assets/imges/port2.png" class="w-50" alt="">
    </div>
</div>

<div (click)=" close(block2) " #block2 class="light-container d-none" >
    <div class="light-box d-flex justify-content-center align-items-center mt-5">
        <img src="./assets/imges/port3.png" class="w-50" alt="">
    </div>
</div>
