<section class=" text-center py-3 sectionhome sections text-white">

    <div class="pt-5">
        <img src="./assets/imges/avataaars.svg"[width]="250" alt="">
        <h1 class="pt-4">START FRAMEWORK</h1>
        <div class="d-flex centere">
            <h5 class="line"></h5>
            <span><i _ngcontent-dpy-c6="" class="fa-solid fa-star mx-3 "></i></span>
            <h5 class="line "></h5>
            
    
        </div>
        <p class="mt-3">Graphic Artist - Web Designer - Illustrator</p>
    </div>


</section>